* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
}

.outputContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.noshow {
  display: none;
}

th {
  font-size: 40px;
  font-weight: lighter;
}

.list-item {
  font-size: 30px;
  text-transform: capitalize;
  list-style: circle;
}

.top {
  font-size: 30px;
}
